main {
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: scroll;
}
table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
tfoot {
    font-weight: bold;
}
button {
    margin: 10px 0;
}
.indent-1 {
    padding-left: 20px;
}
.indent-2 {
    padding-left: 40px;
}
.indent-3 {
    padding-left: 60px;
}
